services:
  app:
    container_name: jinro-boyz-react-app
    image: node:24.13.1-alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - VITE_API_URL=http://localhost:3000
    stdin_open: true
    tty: true
